@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fa;
    src: url('/font/IRANSansWeb(FaNum).woff2');
}
* {
    font-family: fa;
}
body {
    direction: rtl;
    background: linear-gradient(135deg, #ffffff, #e0f0ff, #b0d4ff, #80b9ff);
    background-size: cover;
    background-attachment: fixed;
    color: #333; /* رنگ پیش‌فرض متن */
}

